.ColumnAlignment {
  &__buttons {
    button:not(:disabled) {
      [data-svg-fill-one='fill'] {
        fill: var(--color-neutral-1) !important;
      }

      [data-svg-fill-two='fill'] {
        fill: var(--color-ramp-400) !important;
      }
    }

    button[aria-pressed='true'] {
      background-color: var(--color-bg-selected) !important;

      [data-svg-fill-one='fill'] {
        fill: var(--color-blue-2) !important;
      }

      &:hover {
        background-color: var(--color-bg-selected) !important;
      }
    }
  }

  &__shortcut {
    color: color-mix(in srgb, var(--color-neutral-1) 70%, transparent);
    margin-left: 12px;
  }
}
