.PreviewAutoSpacing {
  background-image: repeating-linear-gradient(-45deg, var(--color-ramp-300) 0 1px, transparent 1px 6px);
  border: 1px dashed var(--color-neutral-2);
  border-radius: 3px;
  height: 48px;
  position: relative;
  width: 188px;

  &__box-wrapper {
    align-items: center;
    background-color: var(--color-surface);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 100ms linear;
    width: 16px;

    &:nth-child(1) {
      transform: translateX(0);
    }

    &:nth-child(2) {
      transform: translateX(86px);
    }

    &:nth-child(3) {
      transform: translateX(169px);
    }
  }

  &--around .PreviewAutoSpacing__box-wrapper {
    &:nth-child(1) {
      transform: translateX(23.33px);
    }

    &:nth-child(3) {
      transform: translateX(148.67px);
    }
  }

  &--evenly .PreviewAutoSpacing__box-wrapper {
    &:nth-child(1) {
      transform: translateX(35px);
    }

    &:nth-child(3) {
      transform: translateX(137px);
    }
  }

  &__box {
    background-color: var(--color-neutral-5);
    border: 1.5px solid var(--color-neutral-1);
    border-radius: 2px;
    height: 16px;
    width: 100%;
  }
}
