.AccordionItem {
  &__header {
    align-items: center;
    background: none;
    border: none;
    color: var(--color-neutral-1);
    column-gap: 6px;
    cursor: pointer;
    display: flex;
    font-size: 11px;
    height: 32px;
    padding-left: 8px;
  }

  &__icon {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    opacity: 0.5;
    transform: rotate(-90deg);
    transition:
      transform 0.1s ease,
      opacity 0.1s ease;

    &--expanded {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  &__header:hover &__icon {
    opacity: 1;
  }

  &__label {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
