@use '@xigma/scss/mixins/disabled';
@use '@xigma/scss/mixins/svg-color';

.ButtonIcon {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--radius-medium);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  padding: 0;
  width: 24px;

  &:hover {
    background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
  }

  &--active {
    background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
  }

  &--selected {
    background-color: var(--color-bg-selected);

    @include svg-color.svg-color(var(--color-icon-selected), true);

    &:hover {
      background-color: var(--color-bg-selected);
    }
  }

  &--disabled {
    cursor: default;

    @include disabled.disabled;

    &:hover {
      background-color: transparent;
    }
  }
}
