.Pages {
  align-items: center;
  border-bottom: 1px solid var(--color-neutral-3);
  column-gap: 4px;
  display: flex;
  min-height: 40px;

  &__toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 16px;
  }

  &__name {
    flex: 1;
    font-size: 11px;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button-group {
    column-gap: 8px;
    display: flex;
    padding-right: 16px;
  }

  &__action {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0;

    &:hover {
      background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
    }
  }
}
