.LeftPanel {
  background-color: var(--color-neutral-5);
  border-right: 1px solid var(--color-neutral-3);
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;

  &__resize-handle {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
  }
}
