.ColorPicker {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 240px;

  &__popover {
    background-color: var(--color-neutral-5);
    padding: 0;
    pointer-events: auto;
  }
}
