.ColorPicker {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  position: relative;
  width: 240px;

  &__popover {
    background-color: var(--color-neutral-5);
    padding: 0;
    pointer-events: auto;
  }

  &__docked {
    background-color: var(--color-neutral-5);
    border-radius: 8px;
    box-shadow: var(--elevation-400-menu-panel);
    position: absolute;
    right: 100%;
    top: 0;
  }
}
