.PatternSourcePreview {
  align-items: center;
  background-color: var(--color-modal-backdrop);
  border: 1px solid var(--color-neutral-3);
  display: flex;
  height: 208px;
  justify-content: center;
  margin: 8px 16px;
  margin-top: 0;
}
