.CellsInput {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: 2px;
  height: 130px;
  justify-content: center;
  margin-top: 8px;
  padding: 2px;
  position: relative;
  width: 100%;

  &__cell {
    appearance: none;
    background-color: var(--color-surface);
    border: 1px solid var(--color-surface);
    border-radius: 2.5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;

    &--active {
      border-color: var(--color-blue-1);
    }

    &--selected {
      background-color: var(--color-icon-tertiary);
    }
  }
}
