.ColorValueInput {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  gap: 8px;
  grid-template: 40px / 56px minmax(0, 1fr);
  padding: 0 12px;
  width: 100%;

  &__formatTrigger {
    font-size: 11px;
    white-space: nowrap;
  }
}
