.Color {
  align-items: center;
  cursor:
    /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
    -webkit-image-set(url('../../../assets/icons/cursors/sampler.png') 8x) 8 24,
    auto;
  display: flex;
  height: 24px;
  justify-content: center;

  width: 24px;

  &--cursor-default {
    cursor: default;
  }

  &__wrapper {
    align-items: center;
    border-radius: 2.5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 16px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 16px;
  }

  &__picker {
    height: 100%;
  }

  &__dot {
    background-color: var(--color-neutral-2);
    border-radius: 50%;
    height: 4px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
  }

  &__picker-alpha {
    background-image:
      linear-gradient(var(--color-alpha-preview), var(--color-alpha-preview)),
      conic-gradient(#000000 90deg, #343c43 90deg 180deg, #000000 180deg 270deg, #343c43 270deg);
    background-size:
      100% 100%,
      4px 4px;
    height: 100%;

    :root[data-theme='light'] & {
      background-image:
        linear-gradient(var(--color-alpha-preview), var(--color-alpha-preview)),
        conic-gradient(#ffffff 90deg, #e1e1e1 90deg 180deg, #ffffff 180deg 270deg, #e1e1e1 270deg);
    }

    @media (prefers-color-scheme: light) {
      :root:not([data-theme]) & {
        background-image:
          linear-gradient(var(--color-alpha-preview), var(--color-alpha-preview)),
          conic-gradient(#ffffff 90deg, #e1e1e1 90deg 180deg, #ffffff 180deg 270deg, #e1e1e1 270deg);
      }
    }
  }
}
