.EffectGlassControls {
  &__lightRow {
    align-items: flex-start;
    column-gap: 8px;
    display: flex;
    min-height: 32px;
    padding-bottom: 12px;
    padding-top: 4px;
  }

  &__light {
    align-items: center;
    column-gap: 8px;
    display: flex;
    flex: 0 0 136px;
    justify-content: space-between;
    width: 136px;
  }

  &__lightLabel {
    align-self: flex-start;
    color: var(--color-neutral-2);
    flex: 1;
    font-size: 11px;
    line-height: 32px;
    min-width: 0;
  }

  &__lightFields {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    row-gap: 8px;
  }

  &__divider {
    border-top: 1px solid var(--color-neutral-3);
    margin-left: -16px;
    width: calc(100% + 32px);
  }

  &__settings {
    padding-top: 12px;
  }
}
