.ZoomMenu {
  display: flex;
  flex-direction: column;

  &__input-wrapper {
    align-items: center;
    display: flex;
    margin: 4px;
    position: relative;
  }

  &__input {
    background-color: transparent;
    border: 1px solid var(--color-neutral-3);
    border-radius: var(--radius-medium);
    color: var(--color-neutral-1);
    font-size: 13px;
    padding: 6px 24px 6px 8px;
    width: 100%;

    &:focus {
      border-color: var(--color-blue-1);
      outline: none;
    }
  }

  &__input-suffix {
    color: var(--color-neutral-2);
    font-size: 13px;
    pointer-events: none;
    position: absolute;
    right: 8px;
  }
}
