@use '@xigma/scss/mixins/svg-color';

.ButtonMenu {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--radius-medium);
  color: var(--color-neutral-1);
  cursor: pointer;
  display: flex;
  padding: 4px 8px;

  &:hover {
    background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
  }

  &[data-state='open'] {
    @include svg-color.svg-color(var(--color-blue-2));

    background-color: var(--color-selected);
    color: var(--color-blue-1);
  }
}
