:global([data-radix-popper-content-wrapper]) {
  z-index: 2 !important;
}

.Popover {
  background-color: var(--color-menu-panel);
  border-radius: 8px;
  box-shadow: var(--elevation-400-menu-panel);
  color: var(--color-neutral-1);
  min-width: 150px;
  padding: 8px 4px;

  &--scrollable {
    display: flex;
    max-height: min(var(--radix-popper-available-height), 400px);
  }
}
