.Section {
  border-bottom: 1px solid var(--color-neutral-3);
  padding: 0 8px 12px 16px;

  &__header {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
  }

  &__label {
    color: var(--color-neutral-1);
    font-size: 11px;
    user-select: none;
  }

  &__component {
    align-items: center;
    column-gap: 2.5px;
    display: flex;
  }
}
