@use '@xigma/scss/mixins/svg-color';

.Section {
  border-bottom: 1px solid var(--color-neutral-3);
  padding-bottom: 12px;

  &--empty {
    padding-bottom: 0;
  }

  &--noSeparator {
    border-bottom: none;
  }

  &--muted:not(:hover) {
    .Section__label {
      color: var(--color-neutral-2);
    }

    .Section__component {
      @include svg-color.svg-color(var(--color-neutral-2));
    }

    :global([data-section-idle-hidden]) {
      opacity: 0;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 8px;
  }

  &__label {
    align-items: center;
    color: var(--color-neutral-1);
    column-gap: 6px;
    display: flex;
    font-size: 11px;
    transition: color 0.1s ease-out;
    user-select: none;
  }

  &__component {
    align-items: center;
    column-gap: 4px;
    display: flex;

    :global([data-svg-property='fill']) {
      transition: fill 0.1s ease-out;
    }

    :global([data-svg-property='stroke']) {
      transition: stroke 0.1s ease-out;
    }

    :global([data-section-idle-hidden]) {
      transition: opacity 0.1s ease-out;
    }
  }
}
