.TextEditOverlay {
  caret-color: transparent;
  outline: none;
  overflow-wrap: break-word;
  pointer-events: none;
  position: absolute;
  white-space: pre-wrap;

  &::selection {
    background-color: transparent;
  }
}
