@font-face {
  font-display: swap;
  font-family: 'Inter MSDF';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter/source/Inter-Regular.ttf') format('truetype');
}

/* stylelint-disable font-family-name-quotes */
$fontFamily:
  inter,
  ui-sans-serif,
  system-ui,
  -apple-system,
  'system-ui',
  'Segoe UI',
  roboto,
  'Helvetica Neue',
  arial,
  'Noto Sans',
  sans-serif,
  sfprolocalrange;
