@use './fonts';
@use '@xigma/scss/theme';
@use '@xigma/scss/variables';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --color-input-background: #313131;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --color-input-background: #e6e6e6;
  }
}

:root[data-theme='dark'] {
  --color-input-background: #313131;
}

:root[data-theme='light'] {
  --color-input-background: #e6e6e6;
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: fonts.$fontFamily;
}
