@use './fonts';
@use '@xigma/scss/theme';
@use '@xigma/scss/variables';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  /* stylelint-disable font-family-name-quotes */
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    'system-ui',
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    SFProLocalRange;
}
