@mixin layout($self) {
  &--horizontal-auto {
    flex-direction: row;

    #{$self}__indicator {
      display: none;

      &:not(:first-child):not(:last-child) {
        display: block;
        height: 10px;
        width: 2px;
      }
    }

    &.AlignmentOption__option-view--short #{$self}__indicator:not(:first-child):not(:last-child) {
      height: 7px;
    }
  }
}
