@mixin layout($self) {
  &--vertical {
    flex-direction: column;

    #{$self}__indicator {
      height: 2px;
      width: 7px;

      &:not(:first-child):not(:last-child) {
        width: 10px;
      }
    }
  }
}
