@mixin layout($self) {
  &--vertical-auto {
    flex-direction: column;

    #{$self}__indicator {
      display: none;

      &:not(:first-child):not(:last-child) {
        display: block;
        height: 2px;
        width: 10px;
      }
    }

    &.AlignmentOption__option-view--short #{$self}__indicator:not(:first-child):not(:last-child) {
      width: 7px;
    }
  }
}
