.App {
  background-color: var(--color-neutral-4);
  color: var(--color-neutral-1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__theme-toggle {
    align-self: flex-end;
    background-color: var(--color-blue-1);
    border: none;
    border-radius: 6px;
    color: var(--color-neutral-1);
    cursor: pointer;
    margin: 16px;
    padding: 8px 16px;
  }
}
