.RightPanel {
  background-color: var(--color-neutral-5);
  border-left: 1px solid var(--color-neutral-3);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &__resize-handle {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }

  &--floating {
    border-left: none;
    border-radius: 8px;
    box-shadow: var(--elevation-100-canvas);
    height: auto;
    max-height: calc(100vh - 12px - 12px);
    min-height: calc(100vh - 12px - 12px);
    overflow-y: auto;
    right: 12px;
    top: 12px;
    transition:
      top 80ms ease-out,
      min-height 80ms ease-out,
      max-height 80ms ease-out;

    &.RightPanel--withRulers {
      max-height: calc(100vh - 32px - 12px);
      min-height: calc(100vh - 32px - 12px);
      top: 32px;
    }
  }
}
