@use '../../../styles/mixins/scrollbar';

.RightPanel {
  background-color: var(--color-neutral-5);
  border-left: 1px solid var(--color-neutral-3);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &__resize-handle {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }

  &__properties {
    flex: 1;
    min-height: 0;
    position: relative;
  }

  &__properties-scroll {
    @include scrollbar.scrollbar-hidden;

    height: 100%;
    overflow-y: auto;
  }

  &--floating {
    border-left: none;
    border-radius: 8px;
    bottom: 12px;
    box-shadow: var(--elevation-100-canvas);
    height: auto;
    overflow: hidden;
    right: 12px;
    top: 12px;
    transition: top 80ms ease-out;

    &.RightPanel--withRulers {
      top: 32px;
    }
  }
}
