.GridTrackRow {
  align-items: center;
  column-gap: 8px;
  display: grid;
  grid-template-columns: 16px minmax(74px, 1fr) minmax(74px, 1fr) 24px;
  height: 32px;
  padding-left: 16px;
  padding-right: 8px;

  &--dragging {
    opacity: 0.5;
  }

  &--selected {
    background-color: var(--color-bg-selected);
  }

  &--selected &__mode,
  &--selected &__value > div {
    border-color: var(--color-blue-2);
  }

  &__delete {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    visibility: hidden;
    width: 24px;
  }

  &:hover &__delete,
  &--selected &__delete {
    visibility: visible;
  }

  &__delete:disabled {
    visibility: hidden;
  }
}
