.InputAdornment {
  align-items: center;
  color: var(--color-neutral-2);
  display: flex;
  flex-shrink: 0;
  font-size: 11px;
  height: 24px;
  justify-content: center;
  user-select: none;
  width: 24px;
}
