@forward '../section-column.module';
@use '../section-column.module' as *;

.SectionColumnContent {
  column-gap: $columnGap;
  display: grid;

  &--single {
    grid-template-columns: 1fr;
  }

  &--two-inputs {
    grid-template-columns: repeat(2, 1fr);
    row-gap: $rowGap;
  }

  &--one-by-two {
    grid-template-areas: 'first second' 'first third';
    grid-template-columns: repeat(2, 1fr);
    row-gap: $rowGap;

    & > :nth-child(1) {
      grid-area: first;
    }

    & > :nth-child(2) {
      grid-area: second;
    }

    & > :nth-child(3) {
      grid-area: third;
    }
  }
}
