.SliderInput {
  align-items: center;
  column-gap: 1px;
  display: flex;
  height: 32px;
  width: 100%;

  &__slider {
    align-items: center;
    background-color: var(--color-surface);
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    height: 24px;
    min-width: 0;
    padding: 0 8px;
  }

  &__input.SliderInput__input {
    border-radius: 0 5px 5px 0;
    flex: 0 0 56px;
    height: 24px;
    width: 56px;
  }
}
