.AvatarBadge {
  align-items: center;
  background-color: #ffcc28;
  border-radius: 50%;
  color: #1e1e1e;
  display: flex;
  flex-shrink: 0;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  width: 24px;
}
