.CanvasNameLabelInput {
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
  font-family: inherit;
  font-weight: 400;
  outline: none;
  position: absolute;
  text-align: left;
  transform-origin: left center;
  width: auto;

  &::selection {
    background-color: #afcffd;
  }
}
