.ColorGridMask {
  cursor:
    /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
    -webkit-image-set(url('../../../../../assets/icons/cursors/sampler.png') 8x) 8 24,
    auto;
  height: 150px;
  left: -150px;
  pointer-events: all;
  position: absolute;
  top: -150px;
  width: 150px;
}
