.PagesList {
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;

  &__resize-handle {
    bottom: -3px;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
