@use './styles/center' as center;
@use './styles/end' as end;
@use './styles/horizontal-auto' as horizontalAuto;
@use './styles/horizontal-layout' as horizontal;
@use './styles/horizontal-wrap' as horizontalWrap;
@use './styles/vertical-auto' as verticalAuto;
@use './styles/vertical-layout' as vertical;

.AlignmentOption {
  $self: &;

  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    background-color: var(--color-neutral-2);
    border-radius: 50%;
    content: '';
    height: 2.5px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.5px;
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    #{$self}__indicator {
      opacity: 1;
    }
  }

  &[aria-pressed='true']::before {
    opacity: 0;
  }

  &__option-view {
    display: flex;
    gap: 2px;

    @include vertical.layout($self);
    @include verticalAuto.layout($self);
    @include horizontal.layout($self);
    @include horizontalAuto.layout($self);
    @include horizontalWrap.layout($self);
    @include center.layout;
    @include end.layout;
  }

  &__indicator {
    background-color: var(--color-neutral-2);
    border-radius: 1px;
    opacity: 0;

    &--selected {
      background-color: var(--color-blue-2);
      opacity: 1;
    }

    &--highlighted {
      opacity: 1;
    }
  }
}
