.PopoverAutoLayoutSettings {
  width: 240px;

  &__dropdown {
    width: 112px;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    padding-top: 8px;
  }

  &__layout-options {
    align-items: center;
    display: flex;
    gap: 4px;
  }

  &__toggle {
    width: 48px;
  }

  &__tooltip-content {
    display: block;
    max-width: 180px;
    white-space: normal;
  }

  &__tooltip-link {
    color: var(--color-blue-1);
  }
}
