@use '@xigma/scss/mixins/svg-color';

.ImageCropAspectRatioMenu {
  &__trigger {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: var(--radius-medium);
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0;

    &:hover {
      background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
    }

    &[data-state='open'] {
      background-color: var(--color-selected);

      @include svg-color.svg-color(var(--color-blue-2));
    }
  }

  &__chevron {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 16px;
  }
}
