.ScrollThumb {
  background-color: var(--color-scrollbar);
  border-radius: 3px;
  position: absolute;
  right: 2px;
  touch-action: none;
  width: 6px;

  &--horizontal {
    bottom: 2px;
    height: 6px;
    right: auto;
    width: auto;
  }
}
