.StrokeProfilePreview {
  &__uniform {
    background-color: var(--color-neutral-1);
  }

  &__image {
    display: block;
    filter: invert(1);
    height: auto;

    :root[data-theme='light'] & {
      filter: none;
    }

    @media (prefers-color-scheme: light) {
      :root:not([data-theme]) & {
        filter: none;
      }
    }
  }
}
