.AccountMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px 8px;

  &__user {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  &__user-name {
    font-size: 13px;
    font-weight: 500;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  &__spotlight {
    background-color: var(--color-blue-1);
    color: var(--color-on-blue-1);
    flex: 1;
    font-weight: 600;
    justify-content: center;

    &:hover {
      background-color: var(--color-blue-1);
    }
  }
}
