.AccountMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 8px;
  width: 224px;

  &__user {
    align-items: center;
    display: flex;
    gap: 5px;
    height: 32px;
  }

  &__user-name {
    font-size: 11px;
    font-weight: 450;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  &__spotlight {
    background-color: var(--color-blue-1);
    color: var(--color-on-blue-1);
    flex: 1;
    font-weight: 600;
    justify-content: center;
    height: 24px;

    &:hover {
      background-color: var(--color-blue-1);
    }
  }
}
