.PatternPanel {
  display: flex;
  flex-direction: column;
  padding: 8px 0;

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 6px 16px;
  }

  &__label {
    color: var(--color-neutral-2);
    font-size: 11px;
  }

  &__fields {
    display: flex;
    gap: 8px;
  }
}
