.ColorGrid {
  border-radius: 5px;
  height: 48px;
  overflow: hidden;
  position: relative;
  width: 48px;

  &__color-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 100%;
  }

  &__picker-grid {
    border: 0.5px solid var(--color-neutral-3);
  }

  &__picker-target-color {
    border: 2px solid var(--color-neutral-1);
    border-radius: 2.5px;
    height: 6.85px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6.85px;
  }
}
