.Layers {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  &__header {
    align-items: center;
    cursor: default;
    display: flex;
    min-height: 40px;
  }

  &__header[aria-expanded='true'] [data-layers-toggle] {
    opacity: 0;
  }

  &__header[aria-expanded='true']:hover [data-layers-toggle] {
    opacity: 1;
  }
}
