.Layers {
  display: flex;
  flex-direction: column;

  &__header {
    align-items: center;
    cursor: default;
    display: flex;
    min-height: 40px;
  }

  &__header[aria-expanded='true'] [data-layers-toggle] {
    opacity: 0;
  }

  &__header[aria-expanded='true']:hover [data-layers-toggle] {
    opacity: 1;
  }

  &__treeWrapper {
    position: relative;
  }

  &__resize-handle {
    bottom: -3px;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
