.CornerSmoothingPopover {
  width: 100%;

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    padding-bottom: 20px;
  }

  &__slider.CornerSmoothingPopover__slider {
    flex-shrink: 0;
    width: 158px;
  }

  &__input.CornerSmoothingPopover__input {
    flex: 0 0 44px;
    width: 44px;
  }
}
