@use '@xigma/scss/mixins/disabled';
@use '@xigma/scss/mixins/svg-color';

.Button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--radius-medium);
  color: var(--color-neutral-1);
  cursor: pointer;
  display: flex;
  font-size: 11px;
  font-weight: 450;
  padding: 4px 8px;

  &:hover {
    background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
  }

  &--active {
    background-color: var(--color-blue-1);

    &:hover {
      background-color: var(--color-blue-1);
    }
  }

  &--outline {
    border: 1px solid var(--color-neutral-3);
  }

  &--selected {
    background-color: var(--color-bg-selected);
    color: var(--color-icon-selected);

    @include svg-color.svg-color(var(--color-icon-selected), true);

    &:hover {
      background-color: var(--color-bg-selected);
    }
  }

  &--medium {
    height: 32px;
    padding: 0 12px;
  }

  &--disabled {
    cursor: default;

    @include disabled.disabled;

    &:hover {
      background-color: transparent;
    }
  }
}
