@use '@xigma/scss/mixins/disabled';

.Button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--radius-medium);
  color: var(--color-neutral-1);
  cursor: pointer;
  display: flex;
  padding: 4px 8px;

  &:hover {
    background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
  }

  &--active {
    background-color: var(--color-blue-1);

    &:hover {
      background-color: var(--color-blue-1);
    }
  }

  &--disabled {
    cursor: default;

    @include disabled.disabled;

    &:hover {
      background-color: transparent;
    }
  }
}
