.TreeItem {
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  height: 32px;
  padding: 0 8px;

  &__content {
    align-items: center;
    border-radius: 5px;
    column-gap: 8px;
    display: flex;
    flex: 1;
    height: 24px;
    min-width: 0;
    padding: 0 6px;
  }

  &:hover &__content {
    background-color: color-mix(in srgb, var(--color-neutral-3) 70%, transparent);
  }

  &[aria-selected='true'] &__content {
    background-color: var(--color-selected);
  }

  &__toggle {
    flex-shrink: 0;
    width: 16px;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__name {
    flex: 1;
    font-size: 11px;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__name--hidden {
    opacity: 0.5;
  }

  [data-tree-item-action] {
    opacity: 0;
  }

  &:hover [data-tree-item-action],
  [data-tree-item-action][data-tree-item-action-active] {
    opacity: 1;
  }
}
