@use '../../../../styles/mixins/tree-item-text';
@use '@xigma/scss/mixins/svg-color';

.TreeItem {
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  height: 32px;
  padding: 0 8px;

  &__content {
    align-items: center;
    column-gap: 8px;
    display: flex;
    flex: 1;
    height: 24px;
    min-width: 0;
    padding: 0 6px;
  }

  &__content--editing {
    padding-right: 0;
  }

  &:not([aria-selected='true']):hover &__content {
    background-color: color-mix(in srgb, var(--color-neutral-3) 70%, transparent);
    border-radius: 5px;
  }

  &[aria-selected='true'] &__toggleButton,
  &[aria-selected='true'] &__icon {
    @include svg-color.svg-color(var(--color-neutral-1));
  }

  &__toggle {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 16px;
  }

  &__toggleButton {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 16px;
    justify-content: center;
    padding: 0;
    width: 16px;

    &:hover {
      background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
    }
  }

  &__icon {
    @include svg-color.svg-color(currentcolor);

    flex-shrink: 0;
  }

  &__name {
    @include tree-item-text.tree-item-text;

    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__name--hidden {
    opacity: 0.5;
  }

  [data-tree-item-action] {
    opacity: 0;
  }

  &:hover [data-tree-item-action],
  [data-tree-item-action][data-tree-item-action-active] {
    opacity: 1;
  }
}
