.FileMeta {
  align-items: center;
  column-gap: 8px;
  display: flex;
  padding-left: 4px;

  &__drafts {
    background-color: transparent;
    border: none;
    color: var(--color-neutral-2);
    cursor: pointer;
    font-size: 11px;
    padding: 0;

    &:hover {
      color: var(--color-neutral-1);
      text-decoration: underline;
    }
  }
}
