.PagesHeaderTitle {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;

  &__toggle {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 16px;
  }

  &__name {
    flex: 1;
    font-size: 11px;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
