.Canvas {
  height: 100%;
  left: 0;
  overflow: clip;
  position: absolute;
  top: 0;
  width: 100%;

  * {
    -webkit-user-drag: none;
  }

  &__texture {
    background-color: #000000;
    background-image: url('../../../assets/images/texture--dark.svg');
    background-repeat: repeat;
    background-size: 20px 20px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media (prefers-color-scheme: light) {
      background-color: #ffffff;
      background-image: url('../../../assets/images/texture--light.svg');
    }

    :root[data-theme='light'] & {
      background-color: #ffffff;
      background-image: url('../../../assets/images/texture--light.svg');
    }

    :root[data-theme='dark'] & {
      background-color: #000000;
      background-image: url('../../../assets/images/texture--dark.svg');
    }
  }

  &__canvas-element {
    cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
      -webkit-image-set(url('../../../assets/icons/cursors/default.png') 8x) 4 4,
      auto;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &--bend {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/bend.png') 8x) 4 4,
        auto;
    }

    &--lasso {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/lasso.png') 8x) 4 4,
        auto;
    }

    &--hand {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/hand.png') 8x) 16 16,
        auto;
    }

    &--pressing {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/pressing.png') 8x) 16 16,
        auto;
    }

    &--positioning {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/positioner.png') 8x) 16 16,
        auto;
    }

    &--drawing {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/pointer.png') 8x) 16 16,
        auto;
    }

    &--comment {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/comment.png') 8x) 8 24,
        auto;
    }

    &--move {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/move.png') 8x) 4 4,
        auto;
    }

    &--pen {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/pen.png') 8x) 4 4,
        auto;
    }

    &--pen-snap {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/pen-snap.png') 8x) 4 4,
        auto;
    }

    &--pen-extend {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/pen-extend.png') 8x) 4 4,
        auto;
    }

    &--point {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/point.png') 8x) 4 4,
        auto;
    }

    &--pencil {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/pencil.png') 8x) 8 24,
        auto;
    }

    &--radius {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/radius.png') 8x) 4 4,
        auto;
    }

    &--vertices {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/vertices.png') 8x) 4 4,
        auto;
    }

    &--ratio {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/ratio.png') 8x) 4 4,
        auto;
    }

    &--segment {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/segment.png') 8x) 4 4,
        auto;
    }

    &--paint {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/drop.png') 8x) 16 16,
        auto;
    }

    &--paint-add {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/drop-add.png') 8x) 16 16,
        auto;
    }

    &--paint-remove {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/drop-remove.png') 8x) 16 16,
        auto;
    }

    &--cut-on {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/cut-on.png') 8x) 4 4,
        auto;
    }

    &--cut-off {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/cut-off.png') 8x) 4 4,
        auto;
    }

    &--erase {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/erase.png') 8x) 8 24,
        auto;
    }

    &--add {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/add.png') 8x) 5 4,
        auto;
    }

    &--remove {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/remove.png') 8x) 5 4,
        auto;
    }

    &--controller {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/controller.png') 8x) 4 4,
        auto;
    }

    &--text-on-path {
      cursor:
        /* stylelint-disable-next-line value-no-vendor-prefix, unit-allowed-list */
        -webkit-image-set(url('../../../assets/icons/cursors/text-on-path.png') 8x) 4 4,
        auto;
    }
  }
}
