.StrokeBrushPreview {
  display: block;
  filter: invert(1);
  height: 100%;
  width: auto;

  :root[data-theme='light'] & {
    filter: none;
  }

  @media (prefers-color-scheme: light) {
    :root:not([data-theme]) & {
      filter: none;
    }
  }
}
