.SliderLegends {
  height: 14px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 100%;

  &__legend {
    color: var(--color-ramp-400);
    font-size: 11px;
    font-weight: 450;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
