.VideoPlayer {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 0 16px;

  &__slider {
    flex: 1;
  }

  &__timer {
    align-items: center;
    background-color: var(--color-surface);
    border-radius: var(--radius-medium);
    box-sizing: border-box;
    color: var(--color-neutral-2);
    display: flex;
    flex-shrink: 0;
    font-size: 11px;
    height: 24px;
    justify-content: center;
    padding: 0 4px;
  }
}
