.ImageCropToolbar {
  align-items: center;
  background-color: var(--color-neutral-5);
  border-radius: var(--radius-large);
  bottom: calc(100% + 10px);
  box-shadow: var(--elevation-200-canvas);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--spacer-2);
  height: 40px;
  left: 50%;
  padding: 8px var(--spacer-2);
  position: absolute;
  touch-action: manipulation;
  transform: translateX(-50%);

  &__label {
    color: var(--color-neutral-1);
    font-size: 11px;
    font-weight: 550;
    padding: 0 4px;
    white-space: nowrap;
  }

  &__separator {
    background-color: var(--color-neutral-3);
    height: calc(100% + var(--spacer-2) * 2);
    width: 1px;
  }

  &__slider {
    width: 104px;
  }

  &__sliderBox {
    align-items: center;
    background-color: var(--color-surface);
    border-radius: var(--radius-medium);
    box-sizing: border-box;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 120px;
  }
}
