.PreviewInsideStrokeUpdated {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transform-origin: center center;
  transition: 100ms linear;

  * {
    transition: 100ms linear;
  }

  &__tile {
    align-items: center;
    background-color: var(--color-neutral-3);
    border-radius: 3px;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 160px;
  }

  &__content {
    background-color: var(--color-neutral-5);
    height: calc(100% - 16px);
    width: calc(100% - 16px);
  }

  &__stroke {
    border: 1px dashed var(--color-neutral-2);
    border-radius: 3px;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160px;

    &--excluded {
      height: calc(60px - 12px);
      width: calc(160px - 12px);
    }
  }
}
