.SearchInput {
  align-items: center;
  background-color: var(--color-neutral-4);
  border: 1px solid transparent;
  border-radius: 8px;
  box-sizing: border-box;
  column-gap: 8px;
  display: flex;
  height: 40px;
  padding: 0 12px;

  &:focus-within {
    border-color: var(--color-blue-1);
  }

  &__field {
    background-color: transparent;
    border: none;
    color: var(--color-neutral-1);
    flex: 1;
    font: inherit;
    font-size: 13px;
    min-width: 0;
    outline: none;

    &::placeholder {
      color: var(--color-neutral-2);
    }
  }
}
