.SearchInput {
  align-items: center;
  background-color: var(--color-surface);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 32px;

  &__field {
    background-color: transparent;
    border: none;
    color: var(--color-neutral-1);
    flex: 1;
    font: inherit;
    font-size: 13px;
    font-weight: 400;
    min-width: 0;
    outline: none;

    &::placeholder {
      color: var(--color-ramp-400);
    }
  }
}
