@use '../../../../../styles/mixins/scrollbar';

.ActionsPanel {
  background-color: var(--color-menu-panel);
  border-radius: 8px;
  box-shadow: var(--elevation-400-menu-panel);
  box-sizing: border-box;
  color: var(--color-neutral-1);
  display: flex;
  height: min(calc(max(100vh, 256px) - 68px), 354px);
  flex-direction: column;
  max-height: min(calc(max(100vh, 256px) - 68px), 354px);
  width: var(--radix-popper-anchor-width);

  &__search {
    margin: 8px;
  }

  &__tabs {
    padding: 8px;
    padding-bottom: 0;
  }

  &__list {
    @include scrollbar.scrollbar-hidden;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    row-gap: 2px;
  }

  &__sectionLabel {
    color: var(--color-neutral-2);
    font-size: 11px;
    font-weight: 550;
    padding: 8px 8px 4px;
  }
}
