.HomePage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  &__theme-toggle {
    background-color: var(--color-blue-1);
    border: none;
    border-radius: 6px;
    color: var(--color-neutral-1);
    cursor: pointer;
    margin-top: 16px;
    padding: 8px 16px;
  }
}
