.DropdownPanel {
  background-color: var(--color-menu-panel);
  border-radius: 8px;
  box-shadow: var(--elevation-400-menu-panel);
  color: var(--color-neutral-1);
  display: flex;
  flex-direction: column;
  min-width: 90px;
  padding: 4px;
  row-gap: 1px;
  width: auto;

  &__separator {
    background-color: var(--color-neutral-3);
    height: 1px;
    margin: 4px -4px;
  }
}
