.ExportSettingsPanel {
  &__header {
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-3);
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 12px;
  }

  &__title {
    font-size: 11px;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    row-gap: 4px;
  }

  &__input.ExportSettingsPanel__input {
    flex: 1;
    min-width: 0;
  }
}
